.nav-menu img{
    height: 39.266448974609375px;
    width: 392.10638427734375px;
    left: 135px;
    border-radius: 0px;
}
.nav-item{
    margin-left: 320px;
}
.nav-link{
    margin-left: 50px;
    color: black;
    font-weight: 500;
    font-size: 16px;
}
.photo img{
    width: 70%;
    height: 100%
}
}
.fram{
    width: 250px;
    height: 250px;
}